.produtos-cards-page {
  padding: 2rem 12rem;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    gap: 12rem;
    justify-content: center;
    align-items: start;
  }

  > div > h4 {
    margin-bottom: 1.5rem;
    text-align: end;
    font-weight: 600;
    color: #333;
  }

  > div > h5 {
    margin-bottom: 1rem;
    font-weight: 500;
    color: #555;
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: flex-start;

    @media (max-width: 1200px) {
      justify-content: center;
    }

    @media (max-width: 768px) {
      justify-content: center;
      gap: 1rem;
    }
  }
}
