.navbar-container {
  width: 100%;
  height: 6rem;
  padding: 3.5rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #fff;
  .logo {
    max-width: 6rem;
  }
  .nav-links {
    display: flex;
    gap: 1.5rem;
    margin-right: 2rem;
    font-weight: 900;
    a {
      font-size: larger;
      text-decoration: none;
      font-weight: 500;
      &:hover {
        font-weight: bold;
      }
    }
  }
}
