.banner-container {
  width: 100%;
  height: 68vh;
  background-image: url("../../../../assets/banner.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 0.25rem solid #faa302;
  border-top: 0.25rem solid #faa302;
}
