/* src/App.scss */
.app-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* Removido o align-items e justify-content center! */

  .footer {
    margin-top: auto; /* Isso empurra o footer pro final da página */
    width: 100%;
  }
}
